{
  "extends": ["react-app", "react-app/jest", "prettier"],
  "plugins": ["prettier"],
  "rules": {
    "react/function-component-definition": 0,
    "lines-between-class-members": 0,
    "arrow-body-style": 0,
    "arrow-parens": [0, "as-needed"],
    "class-methods-use-this": 0,
    "func-names": 0,
    "guard-for-in": 0,
    "import/extensions": 0,
    "import/no-cycle": 0,
    "import/no-duplicates": 0,
    "import/no-extraneous-dependencies": 0,
    "import/no-named-as-default-member": 0,
    "import/no-self-import": 0,
    "import/no-unresolved": 0,
    "import/no-webpack-loader-syntax": 0,
    "import/prefer-default-export": 0,
    "import/no-anonymous-default-export": 0,
    "indent": 0,
    "jsx-a11y/alt-text": 0,
    "jsx-a11y/anchor-is-valid": 0,
    "jsx-a11y/click-events-have-key-events": 0,
    "jsx-a11y/label-has-associated-control": 0,
    "jsx-a11y/label-has-for": 0,
    "jsx-a11y/no-noninteractive-element-interactions": 0,
    "jsx-a11y/no-static-element-interactions": 0,
    "max-len": [2, 1200],
    "no-await-in-loop": 0,
    "no-bitwise": [2, {"allow": ["~"]}],
    "no-case-declarations": 0,
    "no-confusing-arrow": 0,
    "no-console": 0,
    "no-continue": 0,
    "no-extra-boolean-cast": 0,
    "no-loop-func": 0,
    "no-mixed-operators": 0,
    "no-nested-ternary": 0,
    "no-new-func": 0,
    "no-param-reassign": 0,
    "no-plusplus": 0,
    "no-restricted-syntax": 0,
    "no-return-assign": 0,
    "no-return-await": 0,
    "no-shadow": 0,
    "no-trailing-spaces": 0,
    "no-underscore-dangle": 0,
    "no-unused-expressions": 0,
    "no-unused-vars": 2,
    "no-use-before-define": 0,
    "object-curly-newline": 0,
    "object-curly-spacing": [2, "never"],
    "operator-linebreak": 0,
    "quote-props": 0,
    "radix": [0, "as-needed"],
    "react/forbid-prop-types": 0,
    "react/jsx-boolean-value": 0,
    "react/jsx-curly-brace-presence": 0,
    "react/jsx-filename-extension": [2, { "extensions": [".jsx", ".tsx"] }],
    "react/jsx-indent": 0, //Problem with commenting inside jsx
    "react/no-string-refs": 0,
    "react/button-has-type": 0,
    "react/destructuring-assignment": [2, "always", {"ignoreClassFields": true}],
    "react/jsx-curly-newline": 0,
    "react/jsx-no-target-blank": 0,
    "react/jsx-one-expression-per-line": 0,
    "react/jsx-props-no-spreading": 0,
    "react/no-array-index-key": 0,
    "react/no-danger": 0,
    "react/no-did-mount-set-state": 0,
    "react/no-did-update-set-state": 0,
    "react/no-find-dom-node": 0,
    "react/no-unused-prop-types": 1,
    "react/react-in-jsx-scope": 0,
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "error",
    "react/state-in-constructor": [2, "never"],
    "react/static-property-placement": [0, "property assignment"],
    "semi": [2, "always"],
    "semi-spacing": 2,
    "react/require-default-props": 0,
    // TODO delete after refactor
    "react/sort-comp": 0,
    "react/no-unused-class-component-methods": 0,
    "default-param-last": 0,
    "react/no-unstable-nested-components": 0
  },
  "overrides": [
    {
      "files": ["*.ts", "*.mts", "*.cts", "*.tsx"],
      "rules": {
        "no-undef": "off"
      }
    }
  ]
}
