@mixin respond-to($size) {
  @media only screen and (min-width: $size) {
    @content;
  }
}

@mixin respond-less($size) {
  @media only screen and (max-width: $size) {
    @content;
  }
}

@mixin text-overflow {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
